.about {
  height: 100%;
  &__container {
    &--image {
      width: 60%;
      margin: 0 auto;
      @include tablet {
        width: 35vw;
      }
    }
    &--info {
      @include tablet {
        display: flex;
        flex-direction: row;
      }
    }
  }
  &__text {
    color: $color-third;
    font-family: $font-secondary;
    font-size: 1.2rem;
    line-height: 2rem;
    & br {
      content: "";
      height: 1em;
      display: block;
    }
  }
  &__buttons {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
  }
}
.text {
  @include tablet {
    width: 65vw;
    margin-top: -1.7rem;
    margin-left: 1.8rem;
  }
}
