.contact {
  //height: 100vh;
  &__text {
    font-family: $font-secondary;
    color: $color-third;
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: 200;
  }
}
.form {
  &__div {
    height: 4.3rem;
    &--input {
      width: 100%;
    }
  }
}
.msg {
  min-height: 7rem;
  height: 18rem;
  &__input {
    width: 100%;
    min-height: 15rem;
  }
}

.form__error {
  color: $color-second;
  margin-top: 0.1rem;
  font-size: 12px;
  font-style: italic;
}

.send {
  &::before {
    content: "Submit";
  }
  &:hover {
    &::after {
      content: "Send";
    }
  }
}
