.header {
  height: 100vh;
  &__title {
    color: $color-second;
    font-family: $font-primary;
    font-size: 5rem;
    font-weight: bolder;
    margin-top: 0;
    @include desktop {
      font-size: 10rem;
    }
  }
  &__profession {
    color: $color-third;
    font-family: $font-secondary;
    font-size: 2rem;
    font-weight: 400;
    @include desktop {
      font-size: 4rem;
    }
    &--span {
      color: $color-second;
    }
  }
}
