.wrapper {
  margin: 4rem 0 7rem 0;
}
.main {
  max-width: 62rem;
  margin: 0 auto;
}
.title {
  color: $color-second;
  font-family: $font-primary;
  font-size: 5rem;
  @include desktop {
    font-size: 10rem;
  }
  &__2 {
    font-size: 3rem;
    overflow: hidden;
    @include tablet {
      &:after {
        content: "";
        display: inline-block;
        height: 0.5em;
        vertical-align: bottom;
        width: 100%;
        margin-right: -100%;
        margin-left: 1rem;
        border-top: 1px solid $color-second;
      }
    }
    @include desktop {
      font-size: 4rem;
    }
  }
  &__3 {
    font-size: 1.2rem;
    @include desktop {
      font-size: 2rem;
    }
  }
}
