// Nav elements styles
.navBar {
  @include desktop {
    text-align: end;
    -webkit-animation: scale-in-ver-center 1.1s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
    animation: scale-in-ver-center 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
      both;
  }
}

.navList__element {
  display: inline-block;

  &--item {
    color: $color-third;
    font-family: $font-primary;
    font-size: 1rem;
    @include tablet {
      font-size: 1.8rem;
    }
    @include desktop {
      font-size: 1rem;
      padding-left: 3rem;
    }
    &:hover {
      color: $color-second;
      transition: all 0.2s ease-in;
      @include tablet {
        font-size: 1.95rem;
      }
      @include desktop {
        font-size: 1rem;
      }
    }
  }
}

// Display specific Navbar
.navigation {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }
}

//Mobile NavBar
.navigationMobile .navList {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: -1rem;
  right: 0;
  background: #022231ec;
  backdrop-filter: blur(5px);
  height: calc(100% + 1rem);
  width: 55vw;
  padding: 5rem 1.2rem;
  z-index: 1;
  animation: openMenu 1s 1 ease-in-out;
  justify-content: space-between;
  &__others {
    display: flex;
    flex-direction: column;
    height: 25%;
    justify-content: space-between;
  }
  @include tablet {
    padding: 6rem 2rem;
  }
  @include desktop {
    display: none;
  }
  &__element {
    height: 4rem;
    margin-block: 3rem;
  }
  &__element--item {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
}
.navigationMobile .navLinks {
  display: flex;
  flex-direction: column;
  height: 75%;
}
.navigationMobile .rrss {
  margin: 0;
  max-width: 100%;
  &__link {
    padding: 0;
  }
}

.hamburger,
.hamburgerClose {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  width: 1.6rem;
  height: 1.6rem;
  z-index: 10;
  @include desktop {
    display: none;
  }
}

.hamburgerClose {
  position: fixed;
}

//Animations
@keyframes openMenu {
  from {
    transform: translate(45vw);
  }
  to {
    transform: translate(0);
  }
}

//NavBar animation
@-webkit-keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}
