.btn {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid $color-second;
  box-shadow: #094c66 4px 4px 0;
  color: $color-second;
  font-family: $font-primary;
  font-size: 0.7rem;
  height: 2rem;
  overflow: hidden;
  position: relative;
  width: 6rem;
  &::before {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s;
    width: 100%;
  }
  &::after {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 60px;
    transition: all 0.3s;
    width: 100%;
  }
  &:hover {
    background-color: $color-second;
    border: 1px solid $color-second;
    color: $color-first;
    transition: all 0.3s;
    &::before {
      content: "";
      top: -60px;
    }
    &::after {
      top: 0;
    }
  }
  &:active {
    box-shadow: #094c66 0 0 0;
    transform: translateY(4px) translateX(4px);
  }
}

.btn-top {
  align-items: center;
  border-radius: 50%;
  border: none;
  bottom: 40px;
  color: $color-second;
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  position: fixed;
  right: 0;
  transition: all 0.2s;
  width: 2rem;
  &:hover {
    transform: translateY(-3px);
    background-color: $color-second;
    color: $color-third;
  }
  @include desktop {
    right: 4rem;
  }
}

.resume {
  &::before {
    content: "Resume";
  }
  &:hover {
    &::after {
      content: "Download";
    }
  }
}
.talk {
  &::before {
    content: "Let's talk";
  }
  &:hover {
    &::after {
      content: "Contact";
    }
  }
}
